<app-header titulo="Alerta"></app-header>
<ion-content class="ion-padding">
   <ion-button (click)="presentAlert()" expand="block">
      Alert
   </ion-button>
   <ion-button (click)="presentAlertMultilpeButton()" expand="block">
      Alert Buttons
   </ion-button>
   <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Miguel Angel Maldonado Briones</ion-label>
      </ion-chip>
    </ion-item>
   <ion-button shape="round">
      Clickea aqui
   </ion-button>
</ion-content>