<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
</ion-content> -->
<app-header titulo="action sheet"></app-header>
<ion-content class="ion-padding">
  <ion-button (click)="onClick()" expand="block">
    Click me
  </ion-button>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Miguel Angel Maldonado Briones</ion-label>
    </ion-chip>
  </ion-item>
  <ion-button shape="round">
    Clickea aqui
 </ion-button>
</ion-content>